{extend name="public/base" /}

{block name="title"}
{$title}列表
{assign name="groupnav" value="Master"/}
{assign name="activenav" value="Role/index"/}
{/block}
{block name="main"}
<div class="bg-primary-dark">
  <section class="content content-full content-boxed">
    <!-- Section Content -->
    <div class="push-30-t push-20 text-center">
      <h1 class="h2 text-white push-10 visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">Support Center.</h1>
      <h2 class="h5 text-white-op visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">Building products is not our only job. We care about our clients.</h2>
    </div>
    <!-- END Section Content -->
  </section>
</div>
<!-- END Hero Content -->
<div class="bg-white">
  <section class="content content-boxed overflow-hidden">
    <div class="content-grid">
      <div class="form-inline">
        <div class="input-group push-5">
          <a onclick="add();" class="btn btn-sm btn-default" data-toggle="modal" data-target="#modal-top">添加{$title}</a>
        </div>
        <div class="input-group push-5">
          <input type="text" class="form-control input-sm" placeholder="搜索角色名" value="{:isset($params['key'])?$params['key']:''}">
          <span class="input-group-btn">
            <button class="btn btn-sm btn-default" type="button" onclick="var v=$(this).parent().prev().val(); location.href='{:url($tablename.'/index', u_pam($params, null, array('page','key')))}?key='+v;"> <i class="fa fa-search"></i> </button>
          </span>
        </div>
        <select class="form-control input-sm" onchange="location.href='{:url($tablename.'/index', u_pam($params, null, array('page','pagesize')))}?pagesize='+this.value">
        <option value="10" {$params['pagesize']==10?'selected':''}>每页10条</option>
        <option value="20" {$params['pagesize']==20?'selected':''}>每页20条</option>
        <option value="50" {$params['pagesize']==50?'selected':''}>每页50条</option>
        <option value="100" {$params['pagesize']==100?'selected':''}>每页100条</option>
      </select>
      </div>
      <div class="row">
        <table class="js-table-checkable table table-hover">
          <thead>
            <tr>
              <th class="text-center" style="width: 70px;">#</th>
              <th>名称</th>
              <th style="width: 15%;">权限</th>   
              <th class="hidden-xs" style="width: 20%;">添加/修改时间</th>
			  <th style="width: 15%;">操作</th>              
            </tr>
          </thead>
          <tbody>
          
          {volist name="list" id="vo"}
          <tr>
            <td class="text-center">
            {$i}
            </td>
            <td><p class="font-w600 push-5">{$vo.name}</p>
              <p class="text-muted remove-margin-b">{$vo.remark}</p></td>
              <td>
			  {empty name="vo.auth_access"}<a href="{:url($tablename.'/modifyrole',['id'=>$vo['id']])}" class="label label-danger">添加权限</a>{else/}<a href="{:url($tablename.'/modifyrole',['id'=>$vo['id']])}" class="label label-default">修改权限</a>{/empty}
            </td>
              <td class="hidden-xs"><em class="text-muted">{$vo['update_time']}</em> </td>
			<td>	
			<button onclick="edit({$vo['id']},'{$vo['name']}','{$vo['remark']}');" data-toggle="modal" data-target="#modal-top" class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="修改" data-original-title="修改"><i class="fa fa-pencil"></i></button>
              <a data-href="{:url($tablename.'/delete',['id'=>$vo['id']])}" class="btn btn-xs btn-default delete-one" type="button" data-toggle="tooltip" title="" data-original-title="删除"><i class="fa fa-times"></i></a>
            </td>
            
          </tr>
          {/volist}
          </tbody>
          
        </table>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="dataTables_info" style="padding-top: 24px;">当前 <strong>{$list->currentPage()}</strong>/<strong>{$list->lastPage()}</strong> 共 <strong> {$list->total()}</strong>条记录</div>
        </div>
        <div class="col-sm-6"  style="text-align: right;">
          <div class="dataTables_paginate paging_simple_numbers">
          {$list->render()}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{/block}
{block name="footer"}
<!-- Top Modal -->
<div class="modal fade" id="modal-top" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-top">
    <div class="modal-content">
      <div class="block block-themed block-transparent remove-margin-b">
        <div class="block-header bg-primary-dark">
          <ul class="block-options">
            <li>
              <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
            </li>
          </ul>
          <h3 class="block-title">添加角色</h3>
        </div>
        <div class="block-content">
          <div class="block-content block-content-narrow">
            <form class="js-validation-role form-horizontal push-10-t" action="{:url($tablename.'/modify')}" method="post" novalidate="novalidate">
              <div class="form-group">
                <div class="col-sm-9">
                  <div class="form-material">
                    <input type="hidden" id="val-id" name="id">
                    <input class="form-control" type="text" id="val-name" name="name" placeholder="输入角色名称.">
                    <label for="val-name">角色名称</label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-9">
                  <div class="form-material">
                    <input class="form-control" type="text" id="val-remark" name="remark" placeholder="输入角色备注.">
                    <label for="val-remark">角色备注</label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-12">
                  <button class="btn btn-sm btn-primary" type="submit">提交</button>
                </div>
              </div>
                <input type="hidden" name="__token__" value="{$Request.token}" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END Top Modal -->
{/block}
{block name="script"}
<script src="{:Config('public')}assets/js/plugins/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="{:Config('public')}assets/js/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="{:Config('public')}assets/js/common.js"></script>
<script src="{:Config('public')}assets/js/pages/pages_form_role.js"></script>
<script>
            $(function () {
                // Init page helpers (Table Tools helper)
                App.initHelpers('table-tools');
				App.initHelpers('notify');
				$(".delete-one").click(function(){
					var url = $(this).attr("data-href");
					if( !confirm('你确定要删除该条数据？') ){
						return false;
					}
					getUrl(url);
				});
            });
			function edit(id,name,remark)
			{
				$(".block-title").html('修改角色');
				$('#val-id').val(id);
				$('#val-name').val(name);
				$('#val-remark').val(remark);
			}
			function add()
			{
				$('.block-title').html('添加角色');
				$('#val-id').val('');
				$('#val-name').val('');
				$('#val-remark').val('');
			}
        </script>
{/block}