{extend name="public/base" /}

{block name="title"}
{$title}列表
{assign name="groupnav" value="Master"/}
{assign name="activenav" value="User/index"/}
{/block}
{block name="main"}
<!-- Hero Content -->
<div class="bg-primary-dark">
  <section class="content content-full content-boxed">
    <!-- Section Content -->
    <div class="push-100-t push-50 text-center">
      <h1 class="h2 text-white push-10 visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">Contact Us.</h1>
      <h2 class="h5 text-white-op visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">Have an awesome idea for a project? Get in touch today.</h2>
    </div>
    <!-- END Section Content -->
  </section>
</div>
<!-- END Hero Content -->
<!-- Contact Form -->
<div class="bg-white">
  <section class="content content-boxed">
    <!-- Section Content -->
    <div class="row items-push push-50-t push-30">
      <div class="col-md-6 col-md-offset-3">
        <form class="js-validation-user form-horizontal push-10-t" action="{:url($tablename.'/'.$modify)}" method="post">
          <div class="form-group">
            <div class="col-xs-12">
              <div class="form-material form-material-primary">
			  <input type="hidden" name="id" value="{:isset($info['id'])?$info['id']:''}">
                <input class="form-control" type="text" id="username" name="username" placeholder="登录用户名.." value="{:isset($info['username'])?$info['username']:''}">
                <label for="username">用户名</label>
              </div>
            </div>            
          </div>
		  <div class="form-group">
		  <div class="col-xs-12">
              <div class="form-material form-material-primary">
                <input class="form-control" type="text" id="rename" name="rename" placeholder="用户真实名称.."  value="{:isset($info['rename'])?$info['rename']:''}">
                <label for="rename">称呼</label>
              </div>
            </div>
		  </div>
          <div class="form-group">
            <div class="col-xs-12">
              <div class="form-material form-material-primary">
                <input class="form-control" type="text" id="password" name="password" placeholder="登录密码..">
                <label for="password">登录密码</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <div class="form-material form-material-primary">
                <input class="form-control" type="text" id="tel" name="tel" placeholder="联系方式.." value="{:isset($info['tel'])?$info['tel']:''}">
                <label for="tel">联系电话</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <div class="form-material form-material-primary">
                <select class="form-control" id="role_id" name="role_id" size="1">
					<option value="">--请选择--</option>
					{volist name="rolelist" id="vo"}
					<option {$info['role_id']==$vo['id']?'selected':''} value="{$vo.id}">{$vo.name}</option>
					{/volist}
                </select>
                <label for="role_id">角色</label>
              </div>
            </div>
          </div>
		  <div class="form-group">
            <div class="col-xs-12">
              <div class="form-material form-material-primary">
                <label for="role_id">状态</label>
                <div>
                  <label class="css-input css-radio css-radio-primary push-10-r">
                      <input type="radio" value="1" name="state" {$info['state'] == 1 ? 'checked' : ''} {:isset($info['state']) ? '' : 'checked'}><span></span> 开启
                  </label>
                  <label class="css-input css-radio css-radio-primary">
                      <input type="radio" value="0" name="state" {$info['state'] == 2 ? 'checked' : ''}><span></span> 关闭
                  </label>
                </div>
                                            
              </div>
            </div>
          </div>

          <br />
          <div class="form-group">
            <div class="col-xs-6">
              <button class="btn btn-block btn-primary" type="submit"><i class="fa fa-send pull-left"></i>提交</button>
            </div>
            <div class="col-xs-3">
              <button class="btn btn-minw btn-info" type="button" onclick="javascript:history.go(-1);">返回</button>
            </div>
          </div>

          <input type="hidden" name="__token__" value="{$Request.token}" />
        </form>
      </div>
    </div>
    <!-- END Section Content -->
  </section>
</div>
<!-- END Contact Form -->
<!-- Google Maps, initialized in js/pages/frontend_contact.js, for more examples you can check out https://hpneo.github.io/gmaps/ -->
<div class="bg-white" id="js-map-contact" style="height: 350px;"></div>
{/block}

{block name="script"}
<script src="{:Config('public')}assets/js/plugins/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="{:Config('public')}assets/js/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="{:Config('public')}assets/js/common.js"></script>
<script src="{:Config('public')}assets/js/pages/pages_form_user.js"></script>
<script>
$(function () {
	App.initHelpers('notify');
});
</script>
{/block}