{extend name="public/base" /}

{block name="title"}
{$title}列表
{assign name="groupnav" value="Orderinfo"/}
{assign name="activenav" value="Order/index"/}
{/block}
{block name="main"}
<div class="bg-primary-dark">
    <section class="content content-full content-boxed">
        <!-- Section Content -->
        <div class="push-30-t push-20 text-center">
            <h1 class="h2 text-white push-10 visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">Support Center.</h1>
            <h2 class="h5 text-white-op visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">Building products is not our only job. We care about our clients.</h2>
        </div>
        <!-- END Section Content -->
    </section>
</div>
<!-- END Hero Content -->
<div class="bg-white">
    <section class="content content-boxed overflow-hidden">
        <div class="content-grid">
            <form id="orderForm" action="{:url($tablename.'/goodslist',['id'=>$orderid])}" method="get">
                <div class="form-inline">
                    <div class="input-group push-5">
                        <a class="btn btn-sm btn-default">{$title}编号：</a>
                        <a style="display:inline-block; width:130px; text-align:center; color:#444242;cursor: pointer;text-decoration: underline" href="{:url($tablename.'/index')}"><b>201704092140119</b></a>
                        <span style="display:inline-block; width:20px; text-align:center; color:#ddd;">|</span>
                    </div>
                    <div class="input-group push-5">
                        <input type="text" class="form-control input-sm" placeholder="搜索商品名称" name="key" value="{:isset($params['key'])?$params['key']:''}">
                          <span class="input-group-btn">
                          <button class="btn btn-sm btn-default" type="button" onclick="$('#orderForm').submit();"> <i class="fa fa-search"></i> </button>
                          </span>
                    </div>
                    <select class="form-control input-sm" name="pagesize" onchange="$('#orderForm').submit();">
                        <option value="10" selected="">每页10条</option>
                        <option value="20">每页20条</option>
                        <option value="50">每页50条</option>
                        <option value="100">每页100条</option>
                    </select>
                </div>
                <div class="row">
                    <table class="js-table-checkable table table-hover">
                        <thead>
                        <tr>
                            <th>商品ID</th>
                            <th>商品名称</th>
                            <th>商品价格</th>
                            <th>数量</th>
                            <th class="hidden-xs" style="width: 13%;">订单生成时间</th>
                        </tr>
                        </thead>
                        <tbody>

                        {volist name="list" id="vo"}
                        <tr class="active">
                            <td><p class="font-w600 push-5">{$vo.productid}</p></td>
                            <td><p class="text-muted remove-margin-b">{$vo.product_name}</p></td>
                            <td class="hidden-xs"><em class="text-muted">{$vo['price']}</em></td>
                            <td class="hidden-xs"><em class="text-muted">{$vo['num']}</em></td>
                            <td class="hidden-xs"><em class="text-muted">{$vo['update_time']}</em></td>
                        </tr>
                        {/volist}
                        </tbody>

                    </table>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="dataTables_info" style="padding-top: 24px;">当前 <strong>{$list->currentPage()}</strong>/<strong>{$list->lastPage()}</strong> 共 <strong> {$list->total()}</strong>条记录</div>
                    </div>
                    <div class="col-sm-6"  style="text-align: right;">
                        <div class="dataTables_paginate paging_simple_numbers">
                            {$list->render()}
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </section>
</div>
{/block}
{block name="footer"}
<!-- Top Modal -->
<!-- END Top Modal -->
{/block}
{block name="script"}
<script src="{:Config('public')}assets/js/plugins/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="{:Config('public')}assets/js/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="{:Config('public')}assets/js/common.js"></script>
<script src="{:Config('public')}assets/js/pages/pages_form_role.js"></script>
<script>
    $(function () {
        // Init page helpers (Table Tools helper)
        App.initHelpers('table-tools');
        App.initHelpers('notify');

        $(".delete-one").click(function(){
            var url = $(this).attr("data-href");
            if( !confirm('你确定要删除该订单数据？') ){
                return false;
            }
            getUrl(url);
        });
    });
</script>
{/block}