{extend name="public/base" /}

{block name="title"}
{$title}列表
{assign name="groupnav" value="Weixin"/}
{assign name="activenav" value="Wxapi/index"/}
{/block}
{block name="main"}
<div class="bg-primary-dark">
    <section class="content content-full content-boxed">
        <!-- Section Content -->
        <div class="push-30-t push-20 text-center">
            <h1 class="h2 text-white push-10 visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">Support Center.</h1>
            <h2 class="h5 text-white-op visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">Building products is not our only job. We care about our clients.</h2>
        </div>
        <!-- END Section Content -->
    </section>
</div>
<!-- END Hero Content -->
<div class="bg-white">
    <section class="content content-boxed overflow-hidden">
        <div class="content-grid">
            <form id="wxForm" action="{:url($tablename.'/index')}" method="get">
                <div class="form-inline">
                    <div class="input-group push-5">
                        <a class="btn btn-sm btn-default" href="{:url($tablename.'/modify')}">添加{$title}</a>
                    </div>
                    <div class="input-group push-5">
                      <input type="text" class="form-control input-sm" placeholder="搜索名称|简介|Token" name="key" value="{:isset($params['key'])?$params['key']:''}">
                      <span class="input-group-btn">
                      <button class="btn btn-sm btn-default" type="button" onclick="$('#wxForm').submit();"> <i class="fa fa-search"></i> </button>
                      </span>
                    </div>
                    <select class="form-control input-sm" name="wx_type" onchange="$('#wxForm').submit();">
                        {empty name="$params['wx_type']"}<option value="">--请选择账号类型--</option>{else /}<option value="{$params['wx_type']}">{$wx_type[$params['wx_type']]}</option>{/empty}
                        {volist name="wx_type_list" id="wx"}
                        {if condition="$wx['id'] != $params['wx_type']"}
                        <option value="{$wx.id}">{$wx.status}</option>
                        {/if}
                        {/volist}
                        {notempty name="$params['wx_type']"}<option value="">--请选择账号类型--</option>{/notempty}
                    </select>
                    <select class="form-control input-sm" name="pagesize" onchange="$('#wxForm').submit();">
                        <option value="10" selected="">每页10条</option>
                        <option value="20">每页20条</option>
                        <option value="50">每页50条</option>
                        <option value="100">每页100条</option>
                    </select>
                </div>
                <div class="row">
                    <table class="js-table-checkable table table-hover">
                        <thead>
                        <tr>
                            <th>名称</th>
                            <th>简介</th>
                            <th style="width: 15%;">Token</th>
                            <th style="width: 10%;">账号类型</th>
                            <th style="width: 10%;">是否禁用</th>
                            <th style="width: 15%;">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {volist name="list" id="vo"}
                        <tr class="active">
                            <td><p class="font-w600 push-5">{$vo.name}</p></td>
                            <td class="hidden-xs"><em class="text-muted">{$vo.info}</em></td>
                            <td class="hidden-xs"><em class="text-muted">{$vo.token}</em></td>
                            <td class="hidden-xs"><em class="text-muted">{$vo.type}</em></td>
                            <td><p class="text-muted remove-margin-b">{eq name="$vo.if_disabled" value="0"}否{else /}是{/eq}</p></td>
                            <td>
                                <a href="{:url($tablename.'/getoken',['id'=>$vo['id']])}" class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="" data-original-title="获取access_token"><i class="fa fa-wechat fa-1x"></i></a>
                                <a href="{:url($tablename.'/modify',['id'=>$vo['id']])}" class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="" data-original-title="编辑"><i class="fa fa-pencil"></i></a>
                                <a data-href="{:url($tablename.'/disabled',['id'=>$vo['id']])}" class="btn btn-xs btn-default disabled-one" type="button" data-toggle="tooltip" title="" data-original-title="禁用"><i class="fa fa-times-circle fa-1x"></i></a>
                                <a href="{:url('wxset/index',['id'=>$vo['id']])}" class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="" data-original-title="功能设置"><i class="fa fa-cogs fa-1x"></i></a>
                            </td>
                        </tr>
                        {/volist}
                        </tbody>

                    </table>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="dataTables_info" style="padding-top: 24px;">当前 <strong>{$list->currentPage()}</strong>/<strong>{$list->lastPage()}</strong> 共 <strong> {$list->total()}</strong>条记录</div>
                    </div>
                    <div class="col-sm-6"  style="text-align: right;">
                        <div class="dataTables_paginate paging_simple_numbers">
                            {$list->render()}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
{/block}
{block name="footer"}
<!-- Top Modal -->
<!-- END Top Modal -->
{/block}
{block name="script"}
<script src="{:Config('public')}assets/js/plugins/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="{:Config('public')}assets/js/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="{:Config('public')}assets/js/common.js"></script>
<script src="{:Config('public')}assets/js/pages/pages_form_role.js"></script>
<script>
    $(function () {
        // Init page helpers (Table Tools helper)
        App.initHelpers('table-tools');
        App.initHelpers('notify');

        $(".disabled-one").click(function(){
            var url = $(this).attr("data-href");
            if( !confirm('你确定要要禁用该账号？') ){
                return false;
            }
            getUrl(url);
        });
    });
</script>
{/block}